[submodule "firmware/OpenOCC-Mega2560"]
	path = firmware/OpenOCC-Mega2560
	url = git@github.com:defdzg/OpenOCC-Mega2560.git
[submodule "firmware/OpenOCC-ESP8266"]
	path = firmware/OpenOCC-ESP8266
	url = git@github.com:defdzg/OpenOCC-ESP8266.git
