[submodule "firmware/Mega2560-Conditioning-Chamber-Control-Panel"]
	path = firmware/Mega2560-Conditioning-Chamber-Control-Panel
	url = git@github.com:defdzg/Mega2560-Conditioning-Chamber-Control-Panel.git
